.second-main {
    width: 100%;
    height: 50vh;
    min-height: 50vh;
    background-color: white;
}

.text-header {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 36px;
}

.text-text {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

.text-main-div {
    text-align: center;
}